<a href="https://colab.research.google.com/github/hnincherrywin/MMDT_2025_PY101/blob/hnincherrywin/hnincherrywin_Ex5_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m√ó n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [12]:
def rectangle(m, n):
    for i in range(m):
        print('*' * n)

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [23]:
import random

def random_n_digit_number(n):
    if n <= 0:
        raise ValueError("n must be a positive integer")

    lower_bound = 10**(n - 1)
    upper_bound = 10**n - 1

    return random.randint(lower_bound, upper_bound)

result = random_n_digit_number(3)
print("Random 3-digit number:", result)

Random 3-digit number: 546

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [24]:
def number_of_factors(n):
    if n <= 0:
        raise ValueError("Input must be a positive integer")

    count = 0
    for i in range(1, n + 1):
        if n % i == 0:
            count += 1
    return count
result = number_of_factors(12)
print("Number of factors of 12:", result)

Number of factors of 12: 6

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [25]:
def first_diff(s1, s2):

    s1_lower = s1.lower()
    s2_lower = s2.lower()
    min_len = min(len(s1_lower), len(s2_lower))
    for i in range(min_len):
        if s1_lower[i] != s2_lower[i]:
            return i
    if len(s1_lower) != len(s2_lower):
        return min_len
    return -1
result = first_diff("HelloWorld", "helloWxrld")
print("First difference at index:", result)

First difference at index: 6

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [26]:
def root(x, n=2):
    return x / n

result = root(10)
print("Result of root(10):", result)

Result of root(10): 5.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [27]:
def solve_system(a, b, c, d, e, f):
    denominator = a * d - b * c

    if denominator == 0:
        raise ValueError("The system has no unique solution (determinant is zero).")

    x = (e * d - b * f) / denominator
    y = (a * f - e * c) / denominator

    return x, y
x, y = solve_system(2, 3, 1, -1, 8, 3)
print("x =", x)
print("y =", y)

x = 3.4
y = 0.4

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [28]:
def change_case(s):
    return s.swapcase()

result = change_case("Hello World!")
print("Changed case:", result)

Changed case: hELLO wORLD!

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [29]:
def primes(n=100):
    def is_prime(num):
        if num < 2:
            return False
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                return False
        return True

    prime_list = []
    candidate = 2

    while len(prime_list) < n:
        if is_prime(candidate):
            prime_list.append(candidate)
        candidate += 1

    return prime_list
result = primes(10)
print("First 10 prime numbers:", result)

First 10 prime numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Ex9: A Tic-tac-toe board can be represented be a 3√ó3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X‚Äôs and twos stand for O‚Äôs. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [35]:
import random

def place_O(board):
    empty_positions = [(i, j) for i in range(3) for j in range(3) if board[i][j] == 0]

    if not empty_positions:
        raise ValueError("No empty spots available on the board.")

    i, j = random.choice(empty_positions)
    board[i][j] = 2

    return board
board = [
    [1, 0, 2],
    [0, 1, 0],
    [2, 0, 0]
]
updated_board = place_O(board)
print("Updated Tic-tac-toe board:")
for row in updated_board:
    print(row)

Updated Tic-tac-toe board:
[1, 0, 2]
[0, 1, 2]
[2, 0, 0]

Ex10:  Write a function that is given a 9 √ó 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine ‚Äúblocks.‚Äù

In [43]:
def is_valid_sudoku(grid):
    def is_valid_group(group):
        return sorted(group) == list(range(1, 10))
    for row in grid:
        if not is_valid_group(row):
            return False
    for col in range(9):
        column = [grid[row][col] for row in range(9)]
        if not is_valid_group(column):
            return False
    for block_row in range(0, 9, 3):
        for block_col in range(0, 9, 3):
            block = []
            for i in range(3):
                for j in range(3):
                    block.append(grid[block_row + i][block_col + j])
            if not is_valid_group(block):
                return False

    return True



#result = is_valid_sudoku(sudoku)
print("Is the Sudoku solved correctly?", result)

Is the Sudoku solved correctly? True