Q1). Write a lambda function that takes an integer 'year' and returns 'age'.

In [7]:
from datetime import datetime

current_year = datetime.now().year
calculate_age = lambda year_born: current_year - year_born
print(f"Your age is: {calculate_age(2003)}")

Your age is: 22

Q2) Write a lambda function that takes a float "cost" and returns a float "price" by adding 10% to the cost.

In [10]:
tax = 0.10

calculate_pirce = lambda cost: cost + cost * tax

print(f"Total cost: ${calculate_pirce(56)}")

Total cost: $61.6

Q3) For the given name list : names = ['Richard', 'Karam', 'Karpo', 'Sonam', 'Ugyen']

Write a python program that converts each name into email address. The domain is given as gmail.

In [23]:
names = ['Richard', 'Karam', 'Karpo', 'Sonam', 'Ugyen']
email = lambda name: name.lower() + "@gmail.com"
for name in names:
    print(email(name))

# alternative way

names = ['Richard', 'Karam', 'Karpo', 'Sonam', 'Ugyen']
email = lambda name: name.lower() + "@gmail.com"
print(*map(email, names), sep='\n') # map(function, iterable, ...)

richard@gmail.com
karam@gmail.com
karpo@gmail.com
sonam@gmail.com
ugyen@gmail.com

Q4) Write a lambda function that takes two strings 'name' , 'domain' and returns an email address (string).

In [29]:
email_generator = lambda name, domain: name.lower() + "@" + domain
print(email_generator("henrick27", "gmail.com"))

henrick27@gmail.com

Q5) old_list = [2, 4, 6, 7, 9]

write a for loop to square each element of the given old_list.

In [36]:
# list comprehension
old_list = [2, 4, 6, 7, 9]
new_list = [num * 2 for num in old_list]
print(new_list)

#2nd method
square_num = []
for nums in old_list:
  square_num.append(nums * 2)
print(square_num)

[4, 8, 12, 14, 18]
[4, 8, 12, 14, 18]