<a href="https://colab.research.google.com/github/Zhampar/MMDT_2025_PY101/blob/mijompar/untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from datetime import datetime

# Get the current year
current_year = datetime.now().year

# Lambda function to calculate age
calculate_age = lambda year: current_year - year

# Example usage
print(calculate_age(2000))  # Output: 24 (as of 2024)

25

In [ ]:
# Lambda function to calculate price with 10% added
calculate_price = lambda cost: cost + cost * 0.10

# Example usage
print(calculate_price(56))  # Output: 61.6

61.6

In [ ]:
names = ['Richard', 'Karam', 'Karpo', 'Sonam', 'Ugyen']

# Lambda function to create email address
create_email = lambda name: name.lower() + '@gmail.com'

# Apply the lambda function to each name
emails = [*map(create_email, names)]

# Output the result
print(emails)

['richard@gmail.com', 'karam@gmail.com', 'karpo@gmail.com', 'sonam@gmail.com', 'ugyen@gmail.com']

In [ ]:
old_list = [2, 4, 6, 7, 9]

# Method 1: List comprehension
new_list1 = [item**2 for item in old_list]

# Method 2: For loop
new_list2 = []
for item in old_list:
    new_list2.append(item**2)

print(new_list1, new_list2)

[4, 16, 36, 49, 81] [4, 16, 36, 49, 81]