Q1). Write a lambda function that takes an integer 'year' and returns 'age'.

In [ ]:
from datetime import datetime

current_yr = datetime.now().year
age = lambda yr: current_yr - yr
age(2000)

25

Q2) Write a lambda function that takes a float "cost" and returns a float "price" by adding 10% to the cost.

In [ ]:
pirce = lambda cost: cost + cost*(10/100)

pirce(100)

110.0

Q3) For the given name list : names = ['Richard', 'Karam', 'Karpo', 'Sonam', 'Ugyen']

Write a python program that converts each name into email address. The domain is given as gmail.

In [ ]:
names = ['Richard', 'Karam', 'Karpo', 'Sonam', 'Ugyen']
create_email = lambda name: name.lower()+'@gmail.com'
emails = [*map(create_email, names)]
emails

['richard@gmail.com',
 'karam@gmail.com',
 'karpo@gmail.com',
 'sonam@gmail.com',
 'ugyen@gmail.com']

Q4) Write a lambda function that takes two strings 'name' , 'domain' and returns an email address (string).

In [ ]:
email = lambda name, domain: name.lower()+'@'+domain
email('myo', 'drmyothida.com')

'myo@drmyothida.com'

Q5) old_list = [2, 4, 6, 7, 9]

write a for loop to square each element of the given old_list.

In [ ]:
# list comprehension
old_list = [2, 4, 6, 7, 9]
new_list1 = [value**2 for value in old_list]

#2nd method
new_list2 = []
for value in old_list:
    new_list2.append(value**2)

print(new_list1, new_list2)

[4, 16, 36, 49, 81] [4, 16, 36, 49, 81]