<a href="https://colab.research.google.com/github/suhturhlaing/MMDT_2025_PY101/blob/suhturhlaing/suhtarhlaing/Ex5_Function_Suhtarhlaing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m√ó n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [3]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(2,4)

****
****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [5]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(3)

594

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [28]:

def number_of_factors(num):

    # Initialize a counter for the factors
    count = 0

    for i in range(1, num + 1):
        # Check if 'i' is a factor of 'num'
        if num % i == 0:
            # If it is a factor, increment the counter
            count += 1

    # Return the total count of factors
    return count
print(f"Number of factors for 6: {number_of_factors(6)}")

Number of factors for 6: 4

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [33]:
def first_diff(str1, str2):
    # Convert both strings to lowercase to ignore case
    str1_lower = str1.lower()
    str2_lower = str2.lower()

    # Find the minimum length to prevent index out of range
    min_len = min(len(str1_lower), len(str2_lower))

    # Compare character by character
    for i in range(min_len):
        if str1_lower[i] != str2_lower[i]:
            return i  # Return index of first difference

    # If lengths differ, return the first index beyond the shorter one
    if len(str1_lower) != len(str2_lower):
        return min_len

    # If identical
    return -1

# Example usage:
print("first_diff :",first_diff("school", "Schoolisschool"))

first_diff : 6

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [37]:
def root(x, n=2):
    return x / n

def root(x, n = 2):
  return x / n
print("root:",root(10,5))

root: 2.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [41]:
def solve_linear_system(a, b, c, d, e, f):
    denominator = a * d - b * c
    if denominator == 0:
        raise ValueError("The system has no unique solution.")
    x = (e * d - b * f) / denominator
    y = (a * f - e * c) / denominator
    return x, y

x, y = solve_linear_system(1, 2, 3, 4, 5, 6)

print(f"x = {x}, y = {y}")

x = -4.0, y = 4.5

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [44]:
def change_case(s):
    return s.swapcase()

print("Change case is : ",change_case("Hello World"))
print("Change case is : ",change_case("upper"))

Change case is :  hELLO wORLD
Change case is :  UPPER

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [45]:
def primes(n=100):
    def is_prime(num):
        if num < 2:
            return False
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                return False
        return True

    prime_list = []
    candidate = 2

    while len(prime_list) < n:
        if is_prime(candidate):
            prime_list.append(candidate)
        candidate += 1

    return prime_list

# Example usage:
print(primes())       # First 100 primes
print(primes(10))     # First 10 primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541]
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Ex9: A Tic-tac-toe board can be represented be a 3√ó3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X‚Äôs and twos stand for O‚Äôs. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [59]:
import random

def place_o(board):
    # Find all empty positions (cells with 0)
    empty_positions = [(i, j) for i in range(3) for j in range(3) if board[i][j] == 0]

    if not empty_positions:
        raise ValueError("No empty cells available to place an O.")

    # Randomly select one empty position
    i, j = random.choice(empty_positions)

    # Place O (2) in the chosen position
    board[i][j] = 2

    return board

# Example board (0 = empty, 1 = X, 2 = O)
board = [
    [1, 2, 0],
    [0, 1, 0],
    [2, 0, 1]
]

new_board = place_o(board)

# Print updated board
for row in new_board:
    print(row)

[1, 2, 0]
[0, 1, 2]
[2, 0, 1]

Ex10:  Write a function that is given a 9 √ó 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine ‚Äúblocks.‚Äù

In [62]:
def is_valid_sudoku(board):
    def is_valid_group(group):
        return sorted(group) == list(range(1, 10))

    # Check rows
    for row in board:
        if not is_valid_group(row):
            return False

    # Check columns
    for col in zip(*board):
        if not is_valid_group(col):
            return False

    # Check 3x3 blocks
    for i in range(0, 9, 3):  # block rows: 0, 3, 6
        for j in range(0, 9, 3):  # block columns: 0, 3, 6
            block = [board[x][y] for x in range(i, i+3)
                                for y in range(j, j+3)]
            if not is_valid_group(block):
                return False

    return True

sudoku_board = [
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
]

print(is_valid_sudoku(sudoku_board))  # Output: True

True