<a href="https://colab.research.google.com/github/drwaiyanbo/MMDT_2025_PY101/blob/waiyanbo/Waiyanbo/Ex5_Function_Waiyanbo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [1]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(10,5)

*****
*****
*****
*****
*****
*****
*****
*****
*****
*****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [22]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(3)

412

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [29]:
def number_of_factors(n):
  count = 0
  for i in range(1, n+1):
    if n % i == 0:
      count += 1
  return count

number_of_factors(8)

4

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [37]:
def first_diff(str1, str2):
  # make the string to ignore the case
  str1 = str1.lower()
  str2 = str2.lower()

  # call the loop for characters
  for i in range(min(len(str1), len(str2))):
    if str1[i] != str2[i]:
      return i

  # if the strings are ientical or one if a prefix of other,
  if len(str1) != len(str2):
    return min(len(str1), len(str2))
  return -1

print(first_diff("hello", "Hello"))
print(first_diff("hello", "hell21a"))
print(first_diff("waiyanbo", "WAIYANBO7"))

-1
4
8

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [45]:
def root(x, n=2):
  return (x/n)

print(root(10, 2))
print(root(10))

5.0
5.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [48]:
def solve_system(a, b, c, d, e, f):
  x = (e*d - b*f) / (a*d - b*c)
  y = (a*f - e*c) / (a*d - b*c)
  return x, y

print(solve_system(1, 2, 3, 4, 5, 6))

(-4.0, 4.5)

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [50]:
def change_case(str):
  return str.swapcase()

print(change_case("HeLlo WoRlD"))

hElLO wOrLd

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [58]:
def is_prime(num):
  if num < 2:
    return False
  for i in range(2, int(num ** 0.5)+1):
    if num % i == 0:
      return False
  return True

def prime(n=100):
  prime_numbers = []
  while len(prime_numbers) < n:
    i += 1
    if not is_prime(i):
      continue
    else:
      prime_numbers.append(i)
  return prime_numbers

  print(prime(100))

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [65]:
import random

def place_o(board):
    # Find all empty spots (represented by 0)
    empty_spots = [(i, j) for i in range(3) for j in range(3) if board[i][j] == 0]

    # Ensure there is at least one empty spot
    if not empty_spots:
        return "No empty spots available"

    # Randomly choose an empty spot
    row, col = random.choice(empty_spots)

    # Place an 'O' (represented by 2) in the chosen spot
    board[row][col] = 2

    return board

# Test the function
board = [
    [1, 2, 0],
    [2, 1, 0],
    [0, 0, 1]
]

print("Original Board:")
for row in board:
    print(row)

print("\nBoard after placing 'O':")
new_board = place_o(board)
for row in new_board:
    print(row)

Original Board:
[1, 2, 0]
[2, 1, 0]
[0, 0, 1]

Board after placing 'O':
[1, 2, 2]
[2, 1, 0]
[0, 0, 1]

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”

In [76]:
def is_right_sudoku(board):
    # Check each row
    for row in board:
        if sorted(row) != [1, 2, 3, 4, 5, 6, 7, 8, 9]:
            return False

    # Check each column
    for col in range(9):
        column = [board[row][col] for row in range(9)]
        if sorted(column) != [1, 2, 3, 4, 5, 6, 7, 8, 9]:
            return False

    # Check each 3x3 block
    for block_row in range(0, 9, 3):
        for block_col in range(0, 9, 3):
            block = [board[i][j] for i in range(block_row, block_row + 3)
                               for j in range(block_col, block_col + 3)]
            if sorted(block) != [1, 2, 3, 4, 5, 6, 7, 8, 9]:
                return False

    return True

# Sample Sudoku board (invalid board)
board = [
    [5, 3, 5, 6, 8, 7, 1, 2, 2],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9],
    [6, 7, 2, 1, 9, 5, 3, 4, 8]
]

# Test the function
print(is_right_sudoku(board))

False