Q1). Write a lambda function that takes an integer 'year' and returns 'age'.

In [1]:
from datetime import datetime

current_year = datetime.now().year
calculate_age = lambda year: current_year - year
calculate_age(2000)

25

Q2) Write a lambda function that takes a float "cost" and returns a float "price" by adding 10% to the cost.

In [2]:
calculate_pirce = lambda cost: cost + cost*0.10

calculate_pirce(56)

61.6

Q3) For the given name list : names = ['Richard', 'Karam', 'Karpo', 'Sonam', 'Ugyen']

Write a python program that converts each name into email address. The domain is given as gmail.

In [3]:
names = ['Richard', 'Karam', 'Karpo', 'Sonam', 'Ugyen']
create_email = lambda name: name.lower()+'@gmail.com'
emails = [*map(create_email, names)]
emails

['richard@gmail.com',
 'karam@gmail.com',
 'karpo@gmail.com',
 'sonam@gmail.com',
 'ugyen@gmail.com']

Q4) Write a lambda function that takes two strings 'name' , 'domain' and returns an email address (string).

In [4]:
create_custom_email = lambda name, domain: name.lower()+'@'+domain
create_custom_email('myo', 'drmyothida.com')

'myo@drmyothida.com'

Q5) old_list = [2, 4, 6, 7, 9]

write a for loop to square each element of the given old_list.

In [6]:
# list comprehension
old_list = [2, 4, 6, 7, 9]
new_list1 = [item**2 for item in old_list]

#2nd method
new_list2 = []
for item in old_list:
    new_list2.append(item**2)

print(new_list1, new_list2)

[4, 16, 36, 49, 81] [4, 16, 36, 49, 81]

Ex8.1 Write a Python program to extract the passwords that are valid.(Password must have 8 numeric-characters to be valid)

In [11]:
password_list = ['p77&4cTE','n2M$92','bcG89&LW','96&1Q8y7','!fG810']
valid_list = [password for password in password_list if len(password)==8]
print (valid_list)

['p77&4cTE', 'bcG89&LW', '96&1Q8y7']

Ex8.2 Given the list L=[12,34,56,78,90,15,61]. Count the number of elements that are greater then 50.

In [12]:
L=[12,34,56,78,90,15,61]
new_L= [value for value in L if value >50]
print (len(new_L))

4

Ex8.3 Use a list comprehension to produce a list that consists of all palindromic numbers between 100 and 10000.

In [13]:
palindromes = [n for n in range(100, 10000) if str(n) == str(n)[::-1]]
print(palindromes)

[101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999, 1001, 1111, 1221, 1331, 1441, 1551, 1661, 1771, 1881, 1991, 2002, 2112, 2222, 2332, 2442, 2552, 2662, 2772, 2882, 2992, 3003, 3113, 3223, 3333, 3443, 3553, 3663, 3773, 3883, 3993, 4004, 4114, 4224, 4334, 4444, 4554, 4664, 4774, 4884, 4994, 5005, 5115, 5225, 5335, 5445, 5555, 5665, 5775, 5885, 5995, 6006, 6116, 6226, 6336, 6446, 6556, 6666, 6776, 6886, 6996, 7007, 7117, 7227, 7337, 7447, 7557, 7667, 7777, 7887, 7997, 8008, 8118, 8228, 8338, 8448, 8558, 8668, 8778, 8888, 8998, 9009, 9119, 9229, 9339, 9449, 9559, 9669, 9779, 9889, 9999]

Ex8.4 Let L= [2,3,5,7,11,13,17,19,23,29,31,37,41,43,47]. Use a list comprehension to produce a list of the gaps between consecutive entries in L. Then find the maximum gap size and the percentage of gaps that have size 2.

In [14]:
L = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

gaps = [L[i+1] - L[i] for i in range(len(L)-1)]
max_gap = max(gaps)
percentage_size_2 = (gaps.count(2) / len(gaps)) * 100

print("Gaps:", gaps)
print("Maximum gap:", max_gap)
print("Percentage of gaps of size 2:", percentage_size_2, "%")

Gaps: [1, 2, 2, 4, 2, 4, 2, 4, 6, 2, 6, 4, 2, 4]
Maximum gap: 6
Percentage of gaps of size 2: 42.857142857142854 %