Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m√ó n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [ ]:
def rectangle(m,n):
  """
  rectangle show the * with m rows and n columns
  Args: m(int) rows
        n(int) columns

  return: None
  """
  for k in range(m):
    print(n*'*')

rectangle(2,4)

****
****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [ ]:
import random
def calcualte_numbers ( n ):
  """
  calculate_numbers return the random inter number with n digits
  Args: n(int) digits

  return: int
  """
  result = random.randint(10**(n-1) , 10**(n)-1)


  return result

calcualte_numbers(2)

54

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [ ]:
def number_of_factors(n):
  """
  show the factors of given number
  Args: n(int) number

  return: int

  """

  factors = []
  for number in range(1,n+1):
    if n%number == 0:
      factors.append(number)

  return len(factors)

number_of_factors(10)

4

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [ ]:
def first_diff(str1,str2):
  """
  first_diff show the first location of the two strings differ
  Args: str1(str) first string
        str2(str) second string

  return: int
  """
  str1 =str1.lower()
  str2 =str2.lower()
  if str1 == str2:
    return -1
  for i in range (len(str1)):
    if str1[i] != str2[i]:
       return i

first_diff('Hello','Yello')

0

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [ ]:
def root (x,n=2):
  """
  root show the Quotient of x divided by n
  Args: x(int) dividend
        n(int) divisor

  return: float
  """
  return x/n

root(16)

8.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [ ]:
#no idea please explain

def solve_equation(a,b,c,d,e,f):
  x = e-(b*y)/a
  return x

solve_equation(1,2,3,4,5,6)

NameError: name 'y' is not defined

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [ ]:
def change_case(word):
    """
     Change_case returns a new string with each uppercase letter replaced by
    a lowercase letter and vice-versa.

    Args:
        word (str): The input string to be modified.

    Returns:
        str: The modified string with the desired changes.
    """

    changed_characters = []


    for char in word:

        if 'A' <= char <= 'Z':

            changed_characters.append(char.lower())

        elif 'a' <= char <= 'z':

            changed_characters.append(char.upper())
        else:

            changed_characters.append(char)


    return "".join(changed_characters)



change_case("aUNG22")

'Aung22'

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [ ]:
def primes(n=100):

  """
  primes show the first n prime numbers
  Args: n(int) number of prime numbers

  return: list
  """
  primes_numbers = []
  for i in range(n):
    if i >1 :
      for j in range(2,i):
        if i%j == 0:
          break
      else:
        primes_numbers.append(i)
  return primes_numbers

primes(10)

[2, 3, 5, 7]

Ex9: A Tic-tac-toe board can be represented be a 3√ó3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X‚Äôs and twos stand for O‚Äôs. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [ ]:
#no idea. plz explain

Ex10:  Write a function that is given a 9 √ó 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine ‚Äúblocks.‚Äù

In [ ]:
# no idea. Please explain ....