<a href="https://colab.research.google.com/github/SharonWai/MMDT_2025_PY101/blob/SharonWai1/SharonWai/Ex5_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [12]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(3, 5)

*****
*****
*****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [16]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(3)

719

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [25]:
def number_of_factors(n):
    count = 0
    for i in range(1, n + 1):
       if n % i == 0:
          count += 1
    return count

print(number_of_factors(8))

4

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [42]:
#Define the function called first_diff for two strings.
def first_diff(str1, str2):
  str1 = str1.lower()
  str2 = str2.lower()

  min_length = min(len(str1), len(str2))

  for i in range(min_length):
    if str1[i] != str2 [i]:
      return i


  if len(str1) != len(str2):
   return min_length

#If strings are identical, return is -1.
  return -1

print(first_diff("apple","mango"))
print(first_diff("Good","good"))

0
-1

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [47]:
#defines a function called root.
def root(x, n=4):
  return x/n

#Test the results.
print(root(10))
print(root(8, 5))

2.5
1.6

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [48]:
#Defines the function name.
def solve_system(a, b, c, d, e, f):
  det = a * d - b * c

  if det == 0:
    print("The system has no unique solution")
    return None

  x = (e * d - b * f) / det
  y = (a * f - e * c) / det

  return x, y

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [49]:
def change_case(text):
  result = text.swapcase()
  return result

input_string = "Hello, Good morning"
output_string = change_case(input_string)
print(output_string)

hELLO, gOOD MORNING

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [63]:
#Defines the prime and default value of n be 100
def primes(n=100):
    prime_list = []
    num = 2

    while len(prime_list) < n:
      is_prime = True
      for i in range(2, int(num**0.5) + 1):
          if num % i == 0:
              is_prime = False
              break

      if is_prime:
          prime_list.append(num)
      num += 1

    return prime_list

print(primes(10))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [65]:
import random

def place_O(board):
  empty_spots = []

  for i in range(3):
    for j in range(3):
      if board[i][j] == 0:
        empty_spots.append((i, j))

  if empty_spots:
    i, j = random.choice(empty_spots)
    board[i][j] = 2

  return board

#Test Tic-tac-toe board result
tic_tac_toe_board = [[0, 1, 2], [2, 0, 1], [2, 1, 0]]

new_board = place_O(tic_tac_toe_board)

print("New Tic-Tac_Toe Board: ")
for row in new_board:
  print(row)

New Tic-Tac_Toe Board:
[2, 1, 2]
[2, 0, 1]
[2, 1, 0]

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”

In [84]:
def valid_sudoku(board):
  def valid_group(group):
    return sorted(group) == list(range(1, 10))

  for row in board:
    if not valid_group(row):
      return False

  for col in range(9):
      column = [board[row][col] for row in range (9)]
      if not valid_group(column):
        return False

  for box_row in range (0, 9, 3):
    for box_col in range(0, 9, 3):
      block = []
      for i in range(3):
        for j in range(3):
          block.append(board[box_row + i] [box_col + j])
      if not valid_group(block):
         return False

  return True

valid_sudoku_board = [[5, 3, 4, 6, 7, 8, 9, 1, 2],
                [6, 7, 2, 1, 9, 5, 3, 4, 8],
                [1, 9, 8, 3, 4, 2, 5, 6, 7],
                [8, 5, 9, 7, 6, 1, 4, 2, 3],
                [4, 2, 6, 8, 5, 3, 7, 9, 1],
                [7, 1, 3, 9, 2, 4, 8, 5, 6],
                [9, 6, 1, 5, 3, 7, 2, 8, 4],
                [2, 8, 7, 4, 1, 9, 6, 3, 5],
                [3, 4, 5, 2, 8, 6, 1, 7, 9]]

invalid_sudoku_board = [[5, 3, 4, 6, 7, 8, 9, 1, 2],
                [6, 7, 2, 1, 9, 5, 3, 4, 8],
                [1, 9, 8, 3, 4, 2, 5, 6, 7],
                [8, 5, 9, 7, 6, 1, 4, 2, 3],
                [4, 2, 6, 8, 5, 3, 7, 9, 1],
                [7, 1, 3, 9, 2, 4, 8, 5, 6],
                [9, 6, 1, 5, 3, 7, 7, 8, 4],
                [2, 8, 7, 4, 1, 9, 6, 3, 5],
                [3, 4, 5, 2, 8, 6, 6, 7, 9]]

print("Valid Soduku is: ", valid_sudoku(valid_sudoku_board))
print("Invalid Soduku is: ", valid_sudoku(invalid_sudoku_board))

Valid Soduku is:  True
Invalid Soduku is:  False