<a href="https://colab.research.google.com/github/myothida/PythonProgramming/blob/main/Ex5_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [4]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(2,4)

****
****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [20]:
import random
def calcualte_numbers ( n ): 
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(2)

64

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [24]:
def number_of_factors(n):
    count = 0
    for i in range(1, abs(n) + 1):
        if n % i == 0:
            count += 1
    return count

print(number_of_factors(12)) 
print(number_of_factors(13))

6
2

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [26]:
def first_diff(s1, s2):
    s1 = s1.lower()
    s2 = s2.lower()
    min_len = min(len(s1), len(s2))
    
    for i in range(min_len):
        if s1[i] != s2[i]:
            return i
    
    if len(s1) != len(s2):
        return min_len 
    return -1 

print(first_diff("hello", "heLLo"))     
print(first_diff("Python", "Pyxhon"))   
print(first_diff("cat", "cater"))       
print(first_diff("WORLD", "war"))

-1
2
3
1

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [30]:
def root(x, n=2):
    return x / n

print(root(10))      
print(root(9, 3))

5.0
3.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [36]:
def solve_2x2(a, b, c, d, e, f):
    det = a * d - b * c
    if det == 0:
        return "No unique solution"
    
    x = (e * d - b * f) / det
    y = (a * f - e * c) / det
    return x, y

print(solve_2x2(2, 3, 4, 1, 6, 5))

(0.9, 1.4)

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [38]:
def change_case(s):
    return s.swapcase()

print(change_case("Hello World!"))  
print(change_case("PyTHon123"))

hELLO wORLD!
pYthON123

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [40]:
def primes(n=100):
    result = []
    num = 2

    while len(result) < n:
        is_prime = True
        for i in range(2, num):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            result.append(num)
        num += 1

    return result

print(primes(10))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [44]:
import random

def place_random_O(board):
    # Find all empty spots (value 0)
    empty_spots = []

    for i in range(3):
        for j in range(3):
            if board[i][j] == 0:
                empty_spots.append((i, j))

    # If there are no empty spots, do nothing
    if not empty_spots:
        return "Board is full"

    # Choose a random empty spot and place a 2
    i, j = random.choice(empty_spots)
    board[i][j] = 2

    return board

board = [
    [1, 2, 0],
    [0, 1, 0],
    [2, 0, 1]
]

new_board = place_random_O(board)
for row in new_board:
    print(row)

[1, 2, 0]
[2, 1, 0]
[2, 0, 1]

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”

In [46]:
def is_valid_sudoku(grid):
    nums = set(range(1, 10))


    for row in grid:
        if set(row) != nums:
            return False

    for col in range(9):
        column = [grid[row][col] for row in range(9)]
        if set(column) != nums:
            return False

    
    for i in range(0, 9, 3):
        for j in range(0, 9, 3):
            block = []
            for r in range(i, i+3):
                for c in range(j, j+3):
                    block.append(grid[r][c])
            if set(block) != nums:
                return False

    return True

In [48]:
sudoku = [
    [5,3,4,6,7,8,9,1,2],
    [6,7,2,1,9,5,3,4,8],
    [1,9,8,3,4,2,5,6,7],
    [8,5,9,7,6,1,4,2,3],
    [4,2,6,8,5,3,7,9,1],
    [7,1,3,9,2,4,8,5,6],
    [9,6,1,5,3,7,2,8,4],
    [2,8,7,4,1,9,6,3,5],
    [3,4,5,2,8,6,1,7,9]
]

print(is_valid_sudoku(sudoku))

True