<a href="https://colab.research.google.com/github/Maymee614/MMDT_2025_PY101/blob/main/Maymee/Ex5_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [ ]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(10,5)

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [4]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(2)

54

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [15]:
def number_of_factors(n):
    if n <= 0:
        raise ValueError("Please provide a positive integer.")
    count = 0
    for i in range(1, n + 1):
        if n % i == 0:
            count += 1
    return count
print(number_of_factors(10))

4

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [17]:
def first_diff(s1, s2):
    s1 = s1.lower()
    s2 = s2.lower()
    min_len = min(len(s1), len(s2))

    for i in range(min_len):
        if s1[i] != s2[i]:
            return i

    if len(s1) != len(s2):
        return min_len

    return -1
print(first_diff("Test", "Tea"))

2

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [9]:
def change_case(s):
    return s.swapcase()
print(change_case("Hello World"))

hELLO wORLD

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [16]:
def primes(n=100):
    def is_prime(x):
        if x < 2:
            return False
        for i in range(2, int(x ** 0.5) + 1):
            if x % i == 0:
                return False
        return True

    prime_list = []
    num = 2
    while len(prime_list) < n:
        if is_prime(num):
            prime_list.append(num)
        num += 1
    return prime_list
print(primes(10))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”

In [18]:
def is_valid_sudoku(board):
    def is_valid_group(group):
        return sorted(group) == list(range(1, 10))

    # Check rows
    for row in board:
        if not is_valid_group(row):
            return False

    # Check columns
    for col_idx in range(9):
        column = [board[row_idx][col_idx] for row_idx in range(9)]
        if not is_valid_group(column):
            return False

    # Check 3×3 blocks
    for block_row in range(0, 9, 3):
        for block_col in range(0, 9, 3):
            block = []
            for i in range(3):
                for j in range(3):
                    block.append(board[block_row + i][block_col + j])
            if not is_valid_group(block):
                return False

    return True
    print(is_sudoku_solved(sudoku))